ua-1185-mysql-system-api/ua-1185-mysql-system-api-NEW/src/main/resources/schemasCreateLaunchpad/schema0.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema xmlns:roc="http://example.com/rocketservice" attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="schema1.xsd" namespace="http://example.com/rocketservice" />
  <xs:element name="root">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="headers" />
        <xs:element name="attachments" />
        <xs:element name="body">
          <xs:complexType>
            <xs:sequence>
              <xs:element ref="roc:CreateLaunchpadRequest" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="externalId" nillable="true" type="xs:string" />
  <xs:element name="name" nillable="true" type="xs:string" />
  <xs:element name="locality" nillable="true" type="xs:string" />
  <xs:element name="region" nillable="true" type="xs:string" />
  <xs:element name="status" nillable="true" type="xs:string" />
</xs:schema>